{{#each this}}
<li class="movie-list__item">
<<<<<<< HEAD
  <img class="movie-list__item-img" src="https://image.tmdb.org/t/p/original{{backdrop_path}}" alt="{{original_title}}"
=======
  <img class="movie-list__item-img" src="https://image.tmdb.org/t/p/w780{{backdrop_path}}" alt="{{original_title}}"
>>>>>>> 4df739e35964626e38652f5511c4bdf2331c2678
    data-id="{{id}}">
  <p class="movie-list__item-text">{{original_title}} ({{release_date}})</p>
</li>
{{/each}}